<!--Footer-->
<footer class="footer">
  <div class="container center">
    <div class="row justify-content-center">
      <ul class="d-flex flex-row pl-0 pt-2 m-0">
        <li class="p-3"><a href="https://www.instagram.com/pulse.uy/"><i class="fab fa-instagram fa-lg"></i></a></li>
        <li class="p-3"><a href="https://soundcloud.com/pulserecordings"><i class="fab fa-soundcloud fa-lg"></i></a></li>
        <li class="p-3"><a href="https://www.facebook.com/pulseuruguay/"><i class="fab fa-facebook-f fa-lg"></i></a></li>
        <li class="p-3"><a href="https://www.youtube.com/channel/UCxJoKzurfrDuZNRtzU535JA"><i class="fab fa-youtube fa-lg"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-12 text-center">
        <small class="text-muted m-0" style="font-size: 0.7em">Copyright &copy PULSE 2018 /</small>
        <a href="{{ site.baseurl }}/priv/"><small class="text-muted m-0" style="font-size: 0.7em">Politica de Privacidad</small></a>
      </div>
  </div>
</footer>