<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand pl-3" href="{{ site.baseurl }}/{{ site.url }}">
      <img src="/assets/images/pulse_logo-02.svg" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/about">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/streaming/">streaming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/label/">label</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/artistas/">booking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/radio/" target="_blank">radio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      eventos
    </a>
    <div class="dropdown-menu text-uppercase" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{{ site.baseurl }}/eventos/">Próximos Eventos</a>
      <a class="dropdown-item" href="{{ site.baseurl }}/fotos/">Fotos</a>
    </div>
  </li>
  <!--
   <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}">apoyo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/pulse_member">Pulse Member</a>
  </li>
-->
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/contacto">contacto</a>
  </li>
</ul>
  </div>
</nav>